body {
    overflow: hidden;
}

.main {
	position: absolute;
    top: 10px;
    left: 400px;
    overflow: hidden;
}

#svgObj1 {
    z-index: 100;
}

h4 {
    padding: 5px;
}

.free {
    padding: 5px;
    background: lightgreen;
}

.booked {
    padding: 5px;
    background: rgb(241, 123, 123);
}

#alert{
    font-size: 14px;
    color: red;
}

object {
    border: 2px solid rgb(151, 153, 151);
    overflow: hidden;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#pointer {
  animation: fade-in 1s ease;
}

#buttonBook {
    position: absolute;
    top: 765px;
    left: 295px;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background: rgb(42, 86, 143);
    color: white;
    font-size: 15px;
    display: none;
}

#message {
    position: absolute;
    top: 700px;
    left: 295px;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    font-size: 12px;
}

.panel {
    width: 150px;
}

